@charset "utf-8";

body {
  background-color: #f0ece5;
  margin: 0;
  color: #3a2429;
  font-weight: bold;
}

.fit-content {
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

h2 {
  text-align: center;
}

section {
  padding: 30px 15px;
}

img {
  width: 100%;
}

.sp {
  display: none;
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }

  .sp {
    display: block;
  }
}

/*---------header-----------*/
header {
  background-color: #c1c7c4;
}

.header-box {
  display: flex;
  justify-content: space-between;
}

.site-title {
  max-width: 200px;
  margin-left: 25px;
  margin-top: 15px;
}

.site-title a {
  display: block;
}

.site-title a img {
  width: 100%;
  height: auto;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 9999;
}

#nav h1 {
  margin: 0 0 0 20px;
  color: #fff;
}

#nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav > ul > li {
  margin: 0 20px 0 0;
}

#nav > ul > li > a {
  display: block;
  height: auto;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#nav > ul > li > span {
  position: relative;
  display: block;
  height: auto;
  color: #fff;
  text-decoration: none;
}

#nav > ul > li > span > a {
  display: block;
  height: auto;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#sub_menu {
  position: absolute;
  top: 60px;
  right: 0;
  padding: 0;
  list-style-type: none;
  background-color: orange;
  z-index: 9;
}

#sub_menu li {
  width: 250px;
  border-bottom: 1px solid #fff;
}

#sub_menu li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* ハンバーガーメニュー↓ */
#menu_btn {
  display: none;
  transition-duration: 500ms;
}

.scroll #menu_btn {
  display: block;
  content: "";
  width: 43px;
  height: 50px;
  top: 20px;
  right: 30px;
  background: url("../images/bars-solid.svg");
  background-repeat: no-repeat;
  position: fixed;
  z-index: 15;
  cursor: pointer;
}

.scroll .add #menu_btn {
  display: none;
}

.scroll .add #close_btn {
  display: block;
  content: "";
  background: url("../images/xmark-solid.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 50px;
  top: 20px;
  right: 30px;
  position: fixed;
  z-index: 15;
  cursor: pointer;
}

.scroll #nav_box.add {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll #nav {
  display: none;
}
.scroll .add #nav {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  margin-right: 0;
  z-index: 10;
  width: 30%;
  height: 100vh;
  background-color: #fff;
  margin: 0;
  padding: 85px 0 0;
}

.scroll .add #main_menu {
  display: block;
}

.scroll .add #main_menu li {
  margin: 10px 30px;
}

.scroll .add #main_menu li a {
  color: #000;
}

.scroll .add #main_menu li #sub_menu {
  right: inherit;
  left: 0;
  margin: 0 20px;
}

.scroll .add #main_menu li #sub_menu li {
  margin: 0px 0px;
}

.scroll .add #main_menu li #sub_menu li a {
  color: #fff;
}
/*ハンバーガーメニュー↑*/

@media (max-width: 768px) {
  .site-title {
    max-width: 135px;
    margin-left: 10px;
    margin-top: 15px;
  }

  #menu_btn {
    display: block;
    content: "";
    width: 43px;
    height: 50px;
    top: 15px;
    right: 25px;
    background: url("../images/bars-solid.svg");
    background-repeat: no-repeat;
    z-index: 15;
    cursor: pointer;
    position: fixed;
  }

  .scroll #menu_btn {
    top: 15px;
    right: 25px;
  }

  .add #close_btn {
    display: block;
    content: "";
    background: url("../images/xmark-solid.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 50px;
    top: 20px;
    right: 30px;
    position: fixed;
    z-index: 15;
    cursor: pointer;
  }

  #nav_box.add {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav {
    display: none;
  }

  .add #nav {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    margin-right: 0;
    z-index: 10;
    width: 75%;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    padding: 85px 0 0;
  }
  .scroll .add #nav {
    width: 75%;
  }

  #nav > ul > li > a {
    color: #000;
  }
  #nav > ul > li > span > a {
    color: #000;
  }

  .add #nav #main_menu {
    display: block;
  }

  .add #nav #main_menu li {
    margin: 0 0px 0 0;
  }

  .add #nav #main_menu li #sub_menu {
    display: block !important;
    position: relative;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0 20px;
    max-width: fit-content;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
  }
}
/*---------header-----------*/

/*---------animation-----------*/
#animation {
  background-color: #c1c7c4;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.outline {
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;
  font-size: 64px;
  font-family: "Arvo", serif;
}

.glow {
  font-family: "Arvo", serif;
  font-weight: 300;
  color: orange;
  font-size: 105px;
}

#app {
  position: absolute;
  bottom: 50px;
  left: 100px;
}

#app #content {
  z-index: 10;
  width: 50%;
  padding: 1em;
  background: #fff;
}

#overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  #animation {
    height: 500px;
  }
  .outline {
    font-size: 45px;
  }
  .glow {
    font-size: 60px;
  }
  #app {
    bottom: 50px;
    left: 20px;
  }
  #app #content {
    width: 85%;
  }
}
/*---------animation-----------*/

/*---------POPUP-----------*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  text-align: center;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #000;
  color: #fff;
  z-index: 2;
}

.popup-inner img {
  width: 100%;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.close-btn i {
  font-size: 20px;
  color: #fff;
}

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-inner {
    padding: 50px 20px;
  }
}
/*---------POPUP-----------*/

/*---------section01（フェードイン）-----------*/
#fadein div {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 0 auto;
}
.fadeIn {
  animation: fade 1s;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeIn h1 {
  font-size: 27px;
  margin-bottom: 10px;
  position: relative;
}

.fadeIn h1:before {
  display: block;
  content: "✔︎";
  position: absolute;
  left: -35px;
  top: 0;
  font-size: 25px;
  color: #98a9b1;
}

.fadeIn li {
  margin-bottom: 25px;
  list-style: none;
  position: relative;
}

.fadeIn li:before {
  content: "●";
  color: #98a9b1;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  left: -20px;
}

@media (max-width: 768px) {
  .fadeIn h1 {
    font-size: 20px;
    margin-left: 30px;
  }

  .fadeIn h1:before {
    left: -30px;
    top: -2px;
  }

  .fadeIn ul {
    padding-left: 25px;
    overflow: hidden;
  }

  .fadeIn li {
    font-size: 16px;
  }
}
/*---------section01-----------*/

/*---------section02（タブ）-----------*/
.section02 {
  background-color: #c1c7c4;
}

.section02 .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.tab_nav {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.tab_nav li {
  width: 100px;
  border: 1px solid #333;
  border-left: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #333;
  transition: 0.2s ease;
  cursor: pointer;
}

.tab_nav li:first-child {
  border-left: 1px solid #333;
}

.tab_nav li:hover {
  background: #333;
  color: #fff;
}

.tab_nav li.active {
  background: #333;
  color: #fff;
}

.tab_content {
  border: 1px solid #333;
  padding: 20px;
  line-height: 2;
  height: 300px;
  background-color: #98a9b1;
  color: #fff;
}

@media (max-width: 768px) {
  .section02 .container {
    padding: 0;
  }
  .tab_nav {
    margin-top: 0;
  }
  .tab_nav li {
    font-size: 18px;
  }
}
/*---------section02-----------*/

/*---------section03-----------*/
/*---------section03-----------*/

/*---------section04-----------*/
.hooper-slide {
  background-color: #62caaa;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  font-size: 30px;
  border-radius: 10px;
}

.swiper-slide {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url("../images/circle-chevron-left-solid.svg") !important;
}
.swiper-button-next {
  background-image: url("../images/circle-chevron-right-solid.svg") !important;
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

/*---------section04-----------*/

/*---------section05-----------*/
/*---------section05-----------*/

/*---------section06-----------*/
.section06 {
  margin: 0px 0;
}
#demo {
  text-align: center;
}

#demo .title {
  background-color: #98a9b1;
  color: #fff;
  width: 80%;
  max-width: 800px;
  padding: 15px;
  margin: 10px auto 30px auto;
}

.btn_flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
}

input {
  border: solid 1px #fff;
  background-color: #98a9b1;
  color: #fff !important;
  padding: 15px 10px;
  border-radius: 5px;
}

button {
  border: solid 2px #98a9b1;
  padding: 10px 30px;
  color: #98a9b1;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.result {
  position: relative;
  margin: 10px auto 50px;
}

.result .res {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .result .res {
    width: 100%;
  }
}

/*---------section06-----------*/

/*---------section07-----------*/
.section07 {
  background-color: #c1c7c4;
}

#pulldown ul {
  padding: 0;
}

.pull_box {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 20px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #98a9b1;
  list-style: none;
}

.pull_tit {
  position: relative;
}

.pull_tit:hover {
  cursor: pointer;
}

.pull_tit:after {
  display: block;
  content: "＋";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  line-height: 1;
}

.pull_txt {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 15px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .pull_box {
    font-size: 16px;
    padding: 15px 20px;
  }

  .pull_tit:after {
    font-size: 20px;
  }
}

/*---------section07-----------*/

/*---------footer-----------*/
footer {
  background-color: #3a2429;
  color: #fff;
  text-align: center;
  padding: 20px 15px;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}

/*---------footer-----------*/
