@charset "utf-8";

body {
  background-color: #f0ece5;
  margin: 0;
  color: #3a2429;
  font-weight: bold;
}

.fit-content {
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

h2 {
  text-align: center;
}

section {
  padding: 30px 15px;
}

img {
  width: 100%;
}

.sp {
  display: none;
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }

  .sp {
    display: block;
  }
}

/*---------header-----------*/
header {
  background-color: #c1c7c4;
}

.header-box {
  display: flex;
  justify-content: space-between;
}

.site-title {
  max-width: 200px;
  margin-left: 25px;
  margin-top: 15px;
}

.site-title a {
  display: block;
}

.site-title a img {
  width: 100%;
  height: auto;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#nav h1 {
  margin: 0 0 0 20px;
  color: #fff;
}

#nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav > ul > li {
  margin: 0 20px 0 0;
}

#nav > ul > li > a {
  display: block;
  height: auto;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#nav > ul > li > span {
  position: relative;
  display: block;
  height: auto;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#nav > ul > li > span:after {
  content: "▼";
  display: inline-block;
  transform: rotate(90deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 0;
  list-style-type: none;
  background-color: #007db9;
}

.dropdown li {
  width: 250px;
  border-bottom: 1px solid #fff;
}

.dropdown li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.isOpen {
  display: block;
}
.active {
  display: block;
}

.menu_btn {
  display: none;
  transition-duration: 500ms;
}

.menu_btn.scroll {
  display: block;
  content: "";
  width: 43px;
  height: 50px;
  top: 20px;
  right: 30px;
  background: url("../images/bars-solid.svg");
  background-repeat: no-repeat;
  position: fixed;
  z-index: 15;
  cursor: pointer;
}

/*ハンバーガーメニュー↓*/
.menu_btn.add {
  background: url("../images/xmark-solid.svg");
  background-repeat: no-repeat;
  width: 32px;
}

nav.add {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-right: 0;
  z-index: 10;
  width: 30%;
}

nav.add #main_menu {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  margin: 0;
  padding: 85px 0 0;
}

nav.add #main_menu li {
  margin: 10px 30px;
}

nav.add #main_menu li a {
  color: #000;
}

nav.add #main_menu li #sub_menu {
  position: relative;
  display: none;
}

nav.add #main_menu li #sub_menu li {
  margin: 0px 30px;
}

/*ハンバーガーメニュー↑*/

main {
  margin-top: -1px;
}

@media (max-width: 768px) {
  .site-title {
    max-width: 135px;
    margin-left: 10px;
    margin-top: 15px;
  }

  .menu_btn {
    display: block;
    content: "";
    width: 43px;
    height: 50px;
    top: 15px;
    right: 25px;
    background: url("../images/bars-solid.svg");
    background-repeat: no-repeat;
    z-index: 15;
    cursor: pointer;
    position: fixed;
  }

  .menu_btn.scroll {
    top: 15px;
    right: 25px;
  }

  nav.add {
    width: 70%;
  }

  nav #main_menu {
    display: none;
  }

  nav #main_menu.add {
    display: block;
  }

  nav.add #main_menu li #sub_menu {
    display: block;
  }
}

/*---------header-----------*/

/*---------animation-----------*/
#animation {
  background-color: #c1c7c4;
  height: 700px;
  position: relative;
}

span {
  margin: 0;
  padding: 0;
}

.end-left {
  margin-left: -235px;
}

.end-right {
  margin-right: -117.5px;
}

.outline {
  position: absolute;
  top: 20%;
}

.outline {
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;
  font-size: 64px;
  font-family: "Arvo", serif;
}

.glow {
  opacity: 0;
  font-family: "Arvo", serif;
  font-weight: 300;
  color: orange;
  margin-left: -222.5px;
  font-size: 105px;
  position: absolute;
  top: 200px;
  left: calc(50% - 20px);
}
@media (max-width: 480px) {
  .outline {
    font-size: 45px;
  }
  .end-right {
    left: 58% !important;
  }
  .end-left {
    left: 73% !important;
  }
  .glow {
    font-size: 60px;
    left: calc(50% + 75px);
  }
}
/*---------animation-----------*/

/*---------POPUP-----------*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  text-align: center;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #000;
  color: #fff;
  z-index: 2;
}

.popup-inner img {
  width: 100%;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.close-btn i {
  font-size: 20px;
  color: #fff;
}

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-inner {
    padding: 50px 20px;
  }
}

/*---------POPUP-----------*/

/*---------section01-----------*/
.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in.up {
  transform: translateY(50px);
}

.fade-in.down {
  transform: translateY(-50px);
}

.fade-in.left {
  transform: translateX(-50px);
}

.fade-in.right {
  transform: translateX(50px);
}

.fade-in.view {
  opacity: 1;
  transform: translate(0, 0);
}

.top-text {
  margin: 20px auto 70px;
  text-align: center;
}

.top-text h1 {
  font-size: 27px;
  margin-bottom: 10px;
  position: relative;
}

.top-text h1:before {
  display: block;
  content: "✔︎";
  position: absolute;
  left: -35px;
  top: 0;
  font-size: 25px;
  color: #98a9b1;
}

.top-text p {
}

.top-subtext li {
  margin-bottom: 25px;
  list-style: none;
  position: relative;
}

.top-subtext li:before {
  content: "●";
  color: #98a9b1;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  left: -20px;
}

@media (max-width: 768px) {
  .top-text h1 {
    font-size: 20px;
  }

  .top-text h1:before {
    left: -30px;
    top: -2px;
  }

  .section01 ul {
    padding-left: 25px;
    overflow: hidden;
  }

  .top-subtext li {
    font-size: 16px;
  }
}

/*---------section01-----------*/

/*---------section02-----------*/
.section02 {
  background-color: #c1c7c4;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.tab-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.tab-list li {
  width: 100px;
  border: 1px solid #333;
  border-left: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #333;
  transition: 0.2s ease;
  cursor: pointer;
}

.tab-list li:first-child {
  border-left: 1px solid #333;
}

.tab-list li:hover {
  background: #333;
  color: #fff;
}

.tab-list li.active {
  background: #333;
  color: #fff;
}

.tab-container {
  border: 1px solid #333;
  padding: 20px;
  line-height: 2;
  height: 300px;
  background-color: #98a9b1;
  color: #fff;
}

.tab-container .tab-content {
  display: none;
}

.tab-container .tab-content.active {
  display: block;
}

@media (max-width: 768px) {
  .tab-list li {
    font-size: 18px;
  }
}

/*---------section02-----------*/

/*---------section03-----------*/
.section03 {
  background-color: #c1c7c4;
}

.section03 p {
  text-align: center;
}

.graph_box {
  display: flex;
  flex-wrap: wrap;
}

.graph_box .graph {
  width: 50%;
}

@media (max-width: 768px) {
  .graph_box {
    display: block;
  }

  .graph_box .graph {
    width: 100%;
    overflow: hidden;
  }
}

/*---------section03-----------*/

/*---------section04-----------*/
.section04 {
}

.section04 p {
  text-align: center;
}

/*---------section04-----------*/

/*---------section05-----------*/
.section05 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.trans-enter-active,
.trans-leave-active {
  transition: all 0.5s;
}

.trans-enter-to,
.trans-leave {
  opacity: 1;
}

.trans-enter {
  opacity: 0;
  transform: translate(-50%, 10px) !important;
}

.trans-leave-to {
  opacity: 0;
  transform: translate(-50%, -10px) !important;
}

.edge-clock {
  position: relative;
  width: 400px;
  height: 400px;
  border: 4px solid #c1c7c4;
  background-color: #98a9b1;
  border-radius: 50%;
  color: #fff;
}

.clock-12 {
  position: absolute;
  top: 3%;
  left: 47%;
}

.clock-3 {
  position: absolute;
  top: 47%;
  left: 93%;
}

.clock-6 {
  position: absolute;
  top: 92%;
  left: 49%;
}

.clock-9 {
  position: absolute;
  top: 47%;
  left: 4%;
}

.clock-hour {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 5px);
  width: 10px;
  height: 150px;
  background: #c1c7c4;
  transform-origin: bottom;
  transform: rotate(90deg);
}

.clock-min {
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 2px);
  width: 4px;
  height: 180px;
  background: white;
  transform-origin: bottom;
  transform: rotate(0deg);
}

.clock-sec {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 1px);
  width: 2px;
  height: 200px;
  background: #c1c7c4;
  transform-origin: bottom;
  transform: rotate(0deg);
}

@media (max-width: 768px) {
  .section05 {
    display: block;
  }

  .edge-clock {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .clock-hour {
    top: calc(50% - 100px);
    height: 100px;
  }

  .clock-min {
    top: calc(50% - 130px);
    height: 130px;
  }

  .clock-sec {
    top: calc(50% - 140px);
    height: 140px;
  }
}

/*---------section05-----------*/

/*---------section06-----------*/
#demo {
  text-align: center;
}

#demo .title {
  background-color: #98a9b1;
  color: #fff;
  width: 80%;
  max-width: 800px;
  padding: 15px;
  margin: 10px auto 30px auto;
}

.btn_flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
}

input {
  border: solid 1px #fff;
  background-color: #98a9b1;
  color: #fff !important;
  padding: 15px 10px;
  border-radius: 5px;
}

button {
  border: solid 2px #98a9b1;
  padding: 10px 30px;
  color: #98a9b1;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fff;
}

.result {
  position: relative;
  margin: 10px auto 50px;
}

.result .res {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .result .res {
    width: 100%;
  }
}

/*---------section06-----------*/

/*---------section07-----------*/
.section07 {
  background-color: #c1c7c4;
}

.pull_box {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 20px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #98a9b1;
}

.pull_tit {
  position: relative;
}

.pull_tit:hover {
  cursor: pointer;
}

.pull_tit:after {
  display: block;
  content: "＋";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  line-height: 1;
}

.pull_txt {
  display: none;
  transition: display 0.5;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 15px;
  margin-top: 20px;
  position: relative;
}

.pull_txt.add {
  display: block;
}

@media (max-width: 768px) {
  .pull_box {
    font-size: 16px;
    padding: 15px 20px;
  }

  .pull_tit:after {
    font-size: 20px;
  }
}

/*---------section07-----------*/

/*---------section08-----------*/
.section08 {
  text-align: center;
}
.ajax_box {
  margin-bottom: 30px;
}
.section08 .ajax_box .sikibetu {
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}
.section08 .ajax_box .sikibetu ul {
  padding: 0;
}
/*---------section08-----------*/

/*---------vue-----------*/
#app #content {
  z-index: 10;
  width: 50%;
  padding: 1em;
  background: #fff;
}

#app #overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*---------vue-----------*/

/*---------footer-----------*/
footer {
  background-color: #3a2429;
  color: #fff;
  text-align: center;
  padding: 20px 15px;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}

/*---------footer-----------*/
